<!DOCTYPE html>
<html>
    <head>
        <title>
            GatoDeck
        </title>
        <meta lang="e">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body class="custom-bg-color">
        
        <div class="title-div">
            <h1 class="title-web">GatoDeck</h1>
        </div>
        <div id="btn-scenes">
        </div>
        <div class="div-btn">
            <button id="btn-copy">Copiar</button>
            <button id="btn-page">Pegar</button>
            <button id="btn-paper">Paper</button>
            <button id="btn-mute">Silenciar</button>
            <button id="btn-ensor">Ensordecer</button>
            <button id="btn-version">OBS Version</button>
            <button id="btn-data">OBS data</button>
            <button id="btn-Recording">OBS Recording</button>
            <br>
            <button id="btn-volume-down">🔉-</button>
            <button id="btn-previous">|◀◀</button>
            <button id="btn-play/pause">▶||</button>
            <button id="btn-next">▶▶|</button>
            <button id="btn-volume-up">🔊+</button>
            <button id="btn-volume-mute">🔇</button>

            <div id="resp"></div>
            <div id="OBSVersion"></div>
            <div id="buttonDataContainer"></div>
            <!-- 
            <input type="text" id="textInput">
            <button id="buttonDatasend">Enviar</button>
            -->
            <div id="editModeButton">
                <input type="checkbox" id="toggleCheckboxes" checked>
                <label for="toggleCheckboxes">Modo Editor </label>
            <div id="keyboardButtons">
            <div id="keyboardSelect"></div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#keyboardModal">
                Añadir atajos
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="keyboardModal" tabindex="-1" aria-labelledby="keyboardModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="keyboardModalLabel">Seleccionar teclas</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- Contenedor para la lista de elementos seleccionables -->
                      <div id="keyboardListContainer"></div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary" id="saveButton">Guardar</button>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
        <script src="{{ url_for('static', filename='js/api.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socketio_connect.js') }}"></script>
    </body>
</html>