<!DOCTYPE html>
<html>
    <head>
        <title>
            GatoDeck
        </title>
        <meta lang="e">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    </head>
    <body>
        <div class="title-div">
            <h1 class="title-web">GatoDeck</h1>
        </div>
        <div id="btn-scenes">
        </div>
        <div class="div-btn">
            <input type="checkbox" class="cyberpunk-checkbox" id="sendDataCheckbox" checked>
            <button id="btn-copy">Copiar</button>
            <button id="btn-page">Pegar</button>
            <button id="btn-paper">Paper</button>
            <button id="btn-mute">Silenciar</button>
            <button id="btn-ensor">Ensordecer</button>
            <button id="btn-version">OBS Version</button>
            <button id="btn-data">OBS data</button>
            <button id="btn-Recording">OBS Recording</button>
            <br>
            <button id="btn-volume-down">🔉-</button>
            <button id="btn-previous">|◀◀</button>
            <button id="btn-play/pause">▶||</button>
            <button id="btn-next">▶▶|</button>
            <button id="btn-volume-up">🔊+</button>
            <button id="btn-volume-mute">🔇</button>

            <div id="resp"></div>
            <div id="OBSVersion"></div>
            <div id="buttonDataContainer"></div>
            <input type="text" id="textInput">
            <button id="buttonDatasend">Enviar</button>
        </div>
        <script src="{{ url_for('static', filename='js/api.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socketio_connect.js') }}"></script>
    </body>
</html>